<nz-form-item>
  <ng-container *ngIf="!hideLabel">
    <app-label-vertical *ngIf="!labelHorizontal" [content]="labelContent" [required]="required">
    </app-label-vertical>
    <app-label-horizontal *ngIf="labelHorizontal" [content]="labelContent" [required]="required" [span]="24 - span">
    </app-label-horizontal>
  </ng-container>
  <!-- <nz-form-control [nzSpan]="span" [nzErrorTip]="errorTip">
    <input [attr.disabled]="disabled ? '' : null" [attr.readonly]="readonly ? '' : null"
      [formControl]="ngControl.control" type="text" nz-input placeholder="{{placeHolder}}" />
  </nz-form-control> -->
  <nz-form-control [nzSpan]="span">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [formControl]="ngControl.control" [attr.disabled]="disabled ? '' : null"
        [attr.readonly]="readonly ? '' : null" [type]="passwordVisible ? 'text' : 'password'" nz-input
        [placeholder]="placeholder" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </nz-form-control>
</nz-form-item>
