<p>icon works!</p>
<i class="anticon anticon-user"></i>
<i class="anticon anticon-question-circle-o"></i>
<i class="anticon anticon-spin anticon-loading"></i>
<i class="anticon anticon-user"></i>
<i class="anticon anticon-question-circle-o"></i>
<i class="anticon anticon-spin anticon-loading"></i>
<i nz-icon class="anticon anticon-user"></i>
<i nz-icon nzType="filter" theme="outline"></i>

<i nz-icon nzType="warning" nzTheme="outline"></i>
<i class="anticon anticon-dashboard"></i>
<i class="anticon anticon-appstore-o"></i>
<i class="anticon anticon-pie-chart"></i>
<i class="anticon anticon-message"></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>
<i class=""></i>