<app-modal [visible]="visible" [loading]="loading" [isEdit]="isEdit" (onSave)="submit()" (onEdit)="onEdit()"
  (onCancel)="handleCancel()" (openModal)="openModal()" title="{{'user-manager.employee.edit.title' | translate }}">
  <div nz-row>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="{{'user-manager.employee.create.info-employee.title' | translate}}">
      <app-tab-info-employee #infoEmployee [data]="dataPost" [isDetail]="true">
      </app-tab-info-employee>
    </nz-tab>
    <nz-tab nzTitle="{{'user-manager.employee.create.employee-permisson.title' | translate}}">
      <app-tab-permisson-employee #permissonEmployee [data]="roleIds" [isCheckDisable]="isCheckDisable">
      </app-tab-permisson-employee>
    </nz-tab>
  </nz-tabset>
</app-modal>
