<div class="search-archive-type-modal">
  <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzAfterOpen)="openModal()"
    nzTitle="{{'user-manager.change-password.title' | translate}}" [nzFooter]="modalFooter" [nzWidth]="1000"
    [nzFooter]="modalFooter">
    <form nz-form [formGroup]="createForm" role="form">
      <div nz-row [nzGutter]="18">
        <div nz-col nzSpan="6">
        </div>
        <div nz-col nzSpan="12">
          <div nz-row [nzGutter]="18">
            <app-input-password labelContent="{{ 'user-manager.change-password.password-old' | translate }}"
              formControlName="password" placeholder="Nhập mật khẩu cũ">
            </app-input-password>
          </div>
          <div nz-row [nzGutter]="18">
            <app-input-password labelContent="{{ 'user-manager.change-password.password-new' | translate }}"
              formControlName="passwordNew" placeholder="Nhập mật khẩu mới">
            </app-input-password>
          </div>
          <div nz-row [nzGutter]="18">
            <app-input-password labelContent="{{ 'user-manager.change-password.password-new-confirm' | translate }}"
              placeholder="Nhập lại mật khẩu mới" formControlName="confirmPass">
            </app-input-password>
          </div>
        </div>
        <div nz-col nzSpan="6">
        </div>
      </div>

      <!-- <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.password.required' | translate">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="lock" nz-popover nzPopoverPlacement="right"
            nzPopoverTrigger="focus" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk"
            [nzOverlayStyle]="{ 'width.px': 240 }" [nzPopoverContent]="pwdCdkTpl">
            <input nz-input type="password" formControlName="password" placeholder="Password" />
          </nz-input-group>
          <ng-template #pwdCdkTpl>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | translate }}</div>
                <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | translate }}
                </div>
                <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | translate }}</div>
              </ng-container>
              <div class="progress-{{ status }}">
                <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
                  [nzShowInfo]="false"></nz-progress>
              </div>
              <p class="mt-sm">{{ 'validation.password.strength.msg' | translate }}</p>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
            <input nz-input type="password" formControlName="confirm" placeholder="Confirm Password" />
          </nz-input-group>
          <ng-template #confirmErrorTip let-i>
            <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | translate }}
            </ng-container>
            <ng-container *ngIf="i.errors?.equar">{{ 'validation.password.twice' | translate }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </nz-modal>
  <ng-template #modalFooter>
    <app-button-save (onClick)="handleSave()"></app-button-save>
    <app-button-cancel (onClick)="handleCancel()"></app-button-cancel>
  </ng-template>
</div>
