<div nz-row>
  <div class="container other-message">
    <img style="width: 50px; height: 50px" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>
</div>
<div nz-row>
  <div class="container my-message">
    <img style="width: 50px; height: 50px" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>
</div>
