<div class="container-available-user">
  <nz-list [nzDataSource]="listData" [nzRenderItem]="item" [nzItemLayout]="'vertical'">
    <ng-template #item let-item>
      <nz-list-item class="item" (click)="onClickItem($event)">
        <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 0 }">
          <nz-list-item-meta [nzAvatar]="avatar" [nzTitle]="nzTitle" [nzDescription]="description">
            <ng-template #avatar>
              <div class="avatar">
                <img *ngIf="item.avatarUrl" class="avatar" [src]="formatUrlImage(item.avatarUrl)">
                <div *ngIf="!item.avatarUrl" class="text avatar">{{ getName(item).charAt(0) }} </div>
                <div *ngIf="item.status == 1" class="online"></div>
                <div *ngIf="item.status == 0"></div>
                <div *ngIf="item.status == 2" class="busy"></div>
              </div>
            </ng-template>
            <ng-template #nzTitle><strong>{{ getName(item) }}</strong></ng-template>
            <ng-template #description>
              <div *ngIf="item.lastMessage">{{ item.lastMessage }}</div>
              <div *ngIf="!item.lastMessage">{{ getName(item) + ' đã tham gia'}}</div>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
